<div class="flex-shrink-0 p-3" style="width: 250px">
  <a
    href="/"
    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
  >
    <svg class="bi pe-none me-2" width="30" height="24" aria-hidden="true">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-5 fw-semibold">Owasp Vault</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#home-collapse"
        aria-expanded="true"
      >
        Secure
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              [routerLink]="['/secure/login']"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
              >Login</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/secure/comments']"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
              >Comments</a
            >
          </li>
          <div>
            <li>
              <a
                [routerLink]="['/secure/profile', userId]"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                >Profile</a
              >
            </li>
          </div>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse"
        aria-expanded="false"
      >
        Unsecure
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              [routerLink]="['/insecure/login']"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
              >Login</a
            >
          </li>
          <div>
            <li>
              <a
                [routerLink]="['/unsecure/profile', userId]"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                >Profile</a
              >
            </li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</div>
